@page
@using ProjectRPG.Models
@model IndexModel
@{
    ViewData["Title"] = "Seu Perfil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
@inject UserManager<RPGUser> UserManager
@inject SignInManager<RPGUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="manage">
        <div class="menu-lateral-perfil">
            <partial name="_ManageNav" />
        </div>
        <div class="container cartao perfil">
            <div class="cartao-topo">
                <h2 class="cartao-titulo">Seu Perfil</h2>
            </div>

            <div class="cartao-conteudo">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <label asp-for="Input.Email" class="col-4 label-cadastro"></label>
                    <input asp-for="Input.Email" class="col-7 input-cadastro" aria-required="true" autocomplete="@UserManager.GetUserAsync(User).Result.Email" placeholder="@UserManager.GetUserAsync(User).Result.Email" disabled />

                    <label asp-for="Input.NomeUsuario" class="col-4 label-cadastro"></label>
                    <input asp-for="Input.NomeUsuario" class="col-7 input-cadastro" aria-required="true" placeholder="@UserManager.GetUserAsync(User).Result.PhoneNumber" />
                    <span asp-validation-for="Input.NomeUsuario" class="text-danger alerta"></span>

                    <label asp-for="Input.PhoneNumber" class="col-4 label-cadastro"></label>
                    <input asp-for="Input.PhoneNumber" class="col-7 input-cadastro" aria-required="true" placeholder="@UserManager.GetUserAsync(User).Result.PhoneNumber" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger alerta"></span>

                    <label asp-for="Input.DataNascimento" class="col-4 label-cadastro"></label>
                    <input asp-for="Input.DataNascimento" class="col-7 input-cadastro" aria-required="true" type="date" placeholder="@UserManager.GetUserAsync(User).Result.DataNascimento" />
                    <span asp-validation-for="Input.DataNascimento" class="text-danger alerta"></span>

                    <div class="container container-botao">
                        <button type="submit" class="col-5 botao-submit">Atualizar Dados</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
}
else
{
    <script type="text/javascript">
        window.location.href = "/Identity/Account/Login";
    </script>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}